################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevanshAssociate_API/v15/Server/sqlite3
